<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {titulo: "Editar producto"}) %> 
<body>
    
    <header>
        <div class="top-header">
        <div class= "logo">
            <a href="/homeAdmin" class="contenedorEnlace"><img class="imagen-logo" src="/images/logo.png" alt="Logo de pagina"></a>
        </div>
        
        <div class="iconosHeader">
        <div class="iconH" id="iconCuenta">
            <label  for="clickk">
                <i class="fas fa-user-circle"></i> Administrador
            </label>
            <input type="checkbox" class="inputCheck" id="clickk">
            <div class="login_desplegable">
                <% if (locals.usuarioHeader) { %>
                    <span class="login_desplegable_header">¡Hola! <%= locals.datosUsuarioGlobal.first_name %> </span>
                <a href="/profileAdmin" class="login_desplegable_perfil">Ver perfil<i class="fas fa-eye" style="user-select: auto;"></i></a><hr>
                <a href="#" class="login_desplegable_edit">Editar perfil<i class="fas fa-shield-alt" style="user-select: auto;"></i></a><hr>
                <a href="/logout" class="login_desplegable_close">Cerrar cuenta<i class="fas fa-sign-out-alt"></i></a>
                <% } else{%>
    
                <span class="login_desplegable_header">¡Elija!</span>
                <a href="/login" class="login_desplegable_login">Iniciar sesión</a><hr>
                <a href="/register" class="login_desplegable_signup">Registrate</a>
                <% } %> 
            </div>
        </div>
        
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        </div>
        
    </header>
    <main class="createProduct">
        <div class="contenedorCrear">
            <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" class="crear" enctype="multipart/form-data">
                <h3>Editar Producto</h3>
                <div>
                    <h4>Nombre Producto</h4>
                    <input class="dato" type="text" name="name" id="name" value="<%= producto.description %>" required> 
                </div>
                <div>
                    <h4>Imágenes (puede seleccionar como máximo 4 imágenes)</h4>
                    <input class="imagen" type="file" name="image" id="image" multiple>  
                </div>
                <% if (locals.errors && errors.avatar) { %>
                    <div class="errorValidacion">
                        <p><%= errors.avatar.msg %></p>
                    </div> 
                <% } %>
                <div>
                    <h4>Descripcion</h4>
                    <input class="dato" type="text" name="description" id="price" value="<%= producto.description %>" required> 
                </div>
                <div>
                    <h4>Descripcion Completa</h4>
                    <textarea class="dato" name="extended_description" cols="20" rows="5" id="extended_description"  required ><%= producto.extended_description %></textarea>
                </div>
                <div>
                    <h4>Precio</h4>
                    <input class="dato" type="number" name="price" id="price" value="<%= producto.price  %>" required> 
                </div>
                <div>
                    <h4>Descuento</h4>
                    <input class="dato" type="number" min="0" max="100" name="discount" id="discount" value="<%= producto.discount  %>" required> 
                </div>
                <div class="inputs">
                    <div class="inputsData">
                        <h4>Stock</h4>
                        <input class="dato" type="number" min="0" name="stock" id="stock" placeholder="stock" value="<%= producto.stock  %>" required> 
                    </div>
                    <div class="inputsData">
                        <h4>Stock Minimo</h4>
                        <input class="dato" type="number" min="0" name="stock_min" id="stock_min" value="<%= producto.stock_min  %>" required> 
                    </div>
                    <div class="inputsData">
                        <h4>Stock Maximo</h4>
                        <input class="dato" type="number" min="0" name="stock_max" id="stock_max" value="<%= producto.stock_max  %>" required> 
                    </div>
                </div>
                <div class="inputs">
                    <div class="inputsData">
                        <h4>Elegir Categoria</h4>
                        <select name="category">
                            <% for( let category of categories ) { %>
                                <% if (category.id == producto.category_id) { %>
                                    <option value='<%=category.id %>' selected><%=category.name%></option> 
                                <% } else{ %>
                                    <option value='<%=category.id %>'><%=category.name%></option> 
                                <%}%>
                            <% } %>
                        </select>
                    </div>
                    <div class="inputsData">
                        <h4>Elegir Color</h4>
                        <select name="color">
                            <% for( let color of colors ) { %>
                                <% if (color.id == producto.color_id) { %>
                                    <option value="<%=color.id %>" selected><%=color.name%></option> 
                                <% } else{ %>
                                    <option value="<%=color.id %>"><%=color.name%></option> 
                                <%}%>
                            <% } %>
                        </select>
                    </div>
                    <div class="inputsData">
                        <h4>Elegir Marca</h4>
                        <select name="brand">
                            <% for( let brand of brands ) { %>
                                <% if (brand.id == producto.brand_id) { %>
                                    <option value="<%=brand.id %>" selected><%=brand.name%></option> 
                                <% } else{ %>
                                    <option value="<%=brand.id %>"><%=brand.name%></option> 
                                <%}%>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="botones" >
                    <button class= "botonCrear" type="submit"> Editar </button>
                    <a href="/products/viewProducts"><button class= "botonCancelar" type="button"> Cancelar </button></a>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>